<script id='template-vue-script' src='//vuejs.org/js/vue.min.js' async></script>
<style>
  template-vue:unresolved {
    display: none;
  }
</style>
<script>
  (function(){
    var script = document.currentScript.ownerDocument.getElementById('template-vue-script');
    script.onload = function() {

      var proto = Object.create(HTMLElement.prototype);
      proto.data = '';

      /*
      * init
      */
      proto.createdCallback  = function() {

      }

      proto.attachedCallback = function() {
        // Inspired by http://alibaba.github.io/weex/doc/syntax/config-n-data.html
        this.innerHTML = '<div class="app">' + this.innerHTML + '</div>'
        var data = this.querySelector('script[type=data]');
        if (data) {
          try {
            data.remove();
            this.appendChild(data);
            data = eval('(' + data.innerHTML + ')');
          } catch (e) {
            console.log(data);
            console.warn(e);
            data = {};
          }
        }

        if (!this.vue) {
          this.vue = new Vue({
            el: this.children[0],
            data: data || {}
          })
          this.data = data;
        }
      }

      document.registerElement('template-vue', {
        prototype: proto
      });

    }

  })();
</script>
