<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>form json demo</title>
    <script src='../../polymer/webcomponentsjs-0.7.23/webcomponents.js'></script>
    <link rel="import" href="index.html">
    <link rel="import" href="../template-mini/index.html">
    <link rel="import" href="../code-mirror/index.html">
  </head>
  <body>
    <form-json action='./demo.json' method='GET' data-template='template-mini' auto></form-json>
    <template-mini>
      <h1><center>Hello {{name}}. </center></h1>
    </template-mini>
    <p>This is a copy of <a href="https://github.com/zhoukekestar/modules/tree/master/src/formJSON">formJSON</a></p>
    <textarea is='code-mirror' rows="8" cols="40">
<form-json action='./demo.json' method='GET' data-template='template-mini' auto></form-json>
<template-mini>
  <p>Hello {{name}}.</p>
</template-mini>
    </textarea>
  </body>
</html>
