<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>chart-js</title>
    <link rel="import" href="./chart-js.v2.html">
  </head>
  <body>
    <chart-js labels='["jan", "feb", "mar"]' datasets='[{"label": "first", "data": [56, 4, 89]}, {"label": "second", "data": [89, 60, 12]}, {"label": "third", "data": [50, 80, 50]}, {"label": "4th", "data": [60, 20, 60]}]'></chart-js>
    <button onclick="setData()">setData</button>
    <button onclick="appendData()">appendData</button>
    <chart-js type='bar'></chart-js>
    <script>
      var chartjs = document.querySelector('chart-js[type=bar]');
      window.setData = () => {
        var data = {"labels": ["jan", "feb", "mar"], "datasets": [{"label": "first", "data": [56, 4, 89]}, {"label": "second", "data": [89, 78, 12]}, {"label": "third", "data": [50, 80, 50]}]};
        chartjs.labels = data.labels;
        chartjs.datasets = data.datasets;
      }
      window.appendData = () => {
        chartjs.datasets.push({
          data: [55, 56, 57],
          label: 'appendData'
        });
        chartjs.datasets = chartjs.datasets;
      }
    </script>
  </body>
</html>
