<!DOCTYPE html>
<html>
<head>
  <title>template-mini demo</title>
  <script src='../../lib/webcomponentsjs-0.7.23/webcomponents.js'></script>
  <link rel="import" href="index.html">
</head>
<body>
  <p>Simple Unit Test is
    <template-mini modal='{"items": [1, 2, 3, 4, 5, 6, 7, 8]}'>
      <a href="./test.html" repeat='i in items' style='margin-right: 10px;'>here.</a>
    </template-mini>
  </p>
  <template-mini id='tmplRepeat'>

    <p>tmpl-repeat</p>
    <ul>
      <li repeat='item in items'>{{index}}: {{item}}</li>
    </ul>
    <ul>
      <li repeat='item2 in items2'>{{convert1(convert0(index))}}: {{item2.name}} <span>{{item2.name}}</span> </li>
    </ul>
    <img data-src="{{person.img}}" alt="">
    <p data-preson='{{person.name}}' data-country='country: {{person.address.country}}'>{{person.name}}: {{person.address.country}} - {{person.address.province}} <small>{{person.address.time}}</small></p>
    <script-before>
      this.convert1 = function(value) {
        return '(convert1: ' + value + ')';
      }
    </script-before>
    <script-after>
      console.log('is updated!')
    </script-after>
  </template-mini>

  <button onclick="repeat()">tmplRepeat</button>
  <script>

    var repeat = function() {
      tmplRepeat.setModal({
        items: ['a', 'b', 'c'],
        items2: [{name: 'name-a'}, {name: 'name-b'}],
        person: {
          name: 'name',
          img: 'https://avatars2.githubusercontent.com/u/7157346?v=3&s=40',
          address: {
            country: 'china',
            province: 'zhejiang',
            time: Date.now()
          }
        },
        convert0: function(value) {
          return '(convert0: ' + value + ')'
        }
      })
    }
  </script>
  <template-mini id='tmplIf'>
    <p>tmpl-if</p>
    <p if='show'>show is ture</p>
    <p else>show is false</p>
    <p if='obj.test[0].enabled'>obj.test[0].enabled is ture</p>
    <p if='name == "a"'>a is awesome</p>
    <p elseif='name === "b"'>b is interesting</p>
    <p else>your name is good..</p>
  </template-mini>
  <button onclick='tmplIf.setModal({show: true, name:"a"})'>tmplIf true</button>
  <button onclick='tmplIf.setModal({show: false, obj: {test: [{enabled: true}]}})'>tmplIf false</button>
  <script>
    var tmplRepeat = document.getElementById('tmplRepeat');
    var tmplIf = document.getElementById('tmplIf');
  </script>

  <h1>README.md examples:</h1>
  <ul>
    <li>
      <h2>repeat</h2>
      <template-mini modal='{"list": ["a", "b", "c"]}'>
        <ul repeat='item in list'>
          <li>{{index}}: {{item}}</li>
        </ul>
      </template-mini>
    </li>
    <li>
      <h2>if</h2>
      <template-mini modal='{"show": true}'>
        <p if='show'>Hi</p>
      </template-mini>
    </li>

    <li>
      <h2>elseif, else</h2>
      <template-mini modal='{"num": 3}'>
        <p if='num === 1'>num is one</p>
        <p elseif='num === 2'>num is two</p>
        <p else>num is greater than two</p>
      </template-mini>
    </li>
    <li>
      <h2>beforeUpdate</h2>
      <template-mini modal='{"time": 1480067606959}' id=abc>

        <p>date: {{formatDate(time)}}</p>
        <script-before>
          this.formatDate = function(num) {
            return (new Date(num)).toGMTString();
          }
          console.log('hi')
        </script-before>
      </template-mini>
    </li>
    <li>
      <h2>afterUpdate</h2>
      <template-mini modal='{}'>
        <button>sayhi</button>
        <script-after>
          this.querySelector('button').onclick = function() {
            alert('hi');
          }
        </script-after>
      </template-mini>
    </li>
    <li>
      <h2>on(event, selector, callback)</h2>
      <template-mini id='templateOn' modal='{"list": ["hi1", "hi2", "hi3"]}'>
        <a href="javascript:;">say yeah</a>
        <ul>
          <li repeat='li in list' data-msg='{{li}}'><button>say {{li}}</button></li>
        </ul>
      </template-mini>
      <script>
        document.querySelector('#templateOn').on('click', 'a', function() {
          console.log(this);
          alert('yeah')
        })
        document.querySelector('#templateOn').on('click', 'ul > li', function() {
          console.log(this);
          alert(this.dataset.msg)
        })
      </script>
    </li>
  </ul>
</body>
</html>
