<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script>
      var proto = Object.create(HTMLElement.prototype);
      proto.createdCallback = function() {
        this._innerHTML = this.innerHTML;
      }
      document.registerElement('template-mini', {
        prototype: proto
      })
    </script>
  </head>
  <body>

    <template-mini id='example1'>
      <script type='text/beforeUpdate'>
        console.log('hi')
        this.name = 'Bob'
      </script>
      <p>hello {{name}}</p>
    </template-mini>

    <template-mini id='example2'>
      <p>hello</p>
      <script type='text/beforeUpdate'>
        console.log('hi')
      </script>
    </template-mini>

    <script>
      console.log(example1._innerHTML)
      console.log(example2._innerHTML)
    </script>

  </body>
</html>
