<!-- https://github.com/Polymer/TemplateBinding -->
<!-- https://github.com/Polymer/TemplateBinding/blob/master/src/TemplateBinding.js -->
<style>
  template-mini {
    display: none;
  }
  template-mini[resolved] {
    display: block;
  }
  template-mini.hide {
    display: none !important;
  }
</style>

<script>
  !(function(){
    var proto = Object.create(HTMLElement.prototype)
      , directives = []

    var getExpressionValue = function (scope, expression) {
      return (new Function('with (this) {  return ' + expression + '}')).call(scope);
    }


    // TODO: Observer a nested object
    var functionalProperty = function(obj, property, setter, getter) {
      obj._data = obj._data || {};
      obj._data[property] = obj[property];

      Object.defineProperty(obj, property, {
        enumerable: true,
        set: function(x) {
          this._data[property] = x;
          setter && setter.call(this, property, x);
        },
        get: function() {
          getter && getter.call(this, property);
          return this._data[property];
        }
      })
    }

    var functionalProperties = function(obj, setter, getter) {
      if (typeof obj !== 'object') return;

      for (var i in obj) {
        if (typeof obj[i] !== 'function' && i !== '_data') {
          functionalProperty(obj, i, setter, getter)

          // TODO: observer nested object
          // if (typeof obj[i] === 'object' && !(obj[i] instanceof Array)) {
          //   functionalProperties(obj[i], setter, getter)
          // }
        }
      }
    }

    // Define watcher for modal property.
    Object.defineProperty(proto, 'modal', {
      set: function(x) {

        functionalProperties(x, (function(property, val) {
          // functionalProperties(x);
          this.setModal();
        }).bind(this));

        this.setModal(x);
      },
      get: function() {
        return this._modal;
      }
    })
    // Modal
    proto._modal = '';

    /*
     * Save innerHTML to _innerHTML
     * https://bugs.chromium.org/p/chromium/issues/detail?id=502872
     */
    // proto.attachedCallback  = function() {
    proto.createdCallback  = function() {

      this.classList.add('hide');
      this.setAttribute('resolved', '');

      // https://bugs.chromium.org/p/chromium/issues/detail?id=502872
      // http://stackoverflow.com/questions/40814688/the-way-to-get-full-innerhtml-in-createdcallback-while-it-has-script-tags
      // https://github.com/skatejs/skatejs/issues/221

      var beforeUpdate = this.querySelector('script-before') || this.querySelector('script[type="text/beforeUpdate"]');
      if (beforeUpdate && !this.beforeUpdate) {
        beforeUpdate.remove();
        this.beforeUpdate = (new Function(beforeUpdate.innerHTML));
      }

      var afterUpdate = this.querySelector('script-after') || this.querySelector('script[type="text/afterUpdate"]');
      if (afterUpdate && !this.afterUpdate) {
        afterUpdate.remove();
        this.afterUpdate = (new Function(afterUpdate.innerHTML)).bind(this);
      }

      this._innerHTML = this.innerHTML;

      try {
        if (this.dataset.modal) {
          this.setModal(JSON.parse(this.dataset.modal))
        } else {
          var modal = this.getAttribute('modal');
          if (modal) {
            this.modal = JSON.parse(modal);
          }
        }
      } catch (e) {
        console.warn(this)
        console.error(e)
      }

    }

    /**
     * Set modal and apply it to dom.
     **/
    proto.setModal = function(d, callback) {

      this._modal = d || this._modal;
      this.classList.add('hide');
      this.innerHTML = this._innerHTML;

      this.beforeUpdate && this.beforeUpdate.call(this._modal, this);

      var wrapper = document.createElement('div');
      wrapper.innerHTML = this._innerHTML;
      this._doc = document.createDocumentFragment();
      this._doc.appendChild(wrapper);
      parseDom(wrapper, this._modal);

      this.innerHTML = wrapper.innerHTML;

      this.dispatchEvent(new Event('template-mini-updated', {bubbles: true}));
      setTimeout((function() {
        this.afterUpdate && this.afterUpdate();
        callback && callback();
      }).bind(this), 100)
      this.classList.remove('hide')

    }

    proto.attributeChangedCallback = function(name, oldValue, newValue) {
      if (name === 'modal') {
        this.setModal(JSON.parse(newValue));
      }
    }

    proto.on = function(event, selector, fn) {

      if (typeof selector === 'function') {
        fn = selector;
        this.addEventListener(event, fn);
      } else {
        this.addEventListener(event, function(e) {
          var target = e.target;
          while (target !== this && target !== document.body) {
            if (target.matches && target.matches(selector)) {
              fn.call(target, e);
              return;
            }
            target = target.parentNode;
          }
        })
      }
    }

    document.registerElement('template-mini', {
      prototype: proto
    });

    /*
    * Remove the node that _remove is true.
    *   You should not remove node in your directive handler, because the (children.length) will be (children.length - 1) if you remove it.
    *   So we have a _remove flag to remove it after index the children.
    */
    var removeTaggedChildren = function(node) {
      for (var i = node.children.length - 1; i >= 0; i--) {
        if (node.children[i]._remove === true) {
          node.children[i].remove();
        }
      }
    }

    // parse expression in attributes
    var parseDomAttribute = function(node, scope) {
      if (node._remove === true) {
        return;
      }

      for (var i = 0; i < node.attributes.length; i++) {

        node.attributes[i].value = node.attributes[i].value.replace(/{{(.*?)}}/g, function() {
          try {
            return getExpressionValue(scope, arguments[1]);
          } catch (e) {
            console.warn(e);
            return '';
          }
        })

        if (node.nodeName === 'IMG') {
          node.src = node.src || node.getAttribute('data-src');
        }
      }
    }

    /**
     * Parse dom
     *  dom: the dom you want to parse
     *  scope: the data that will be used if some value shold be parsed
     **/
    var parseDom = function(dom, scope) {
      try {
        for (var i = 0; i < dom.childNodes.length; i++) {

          var currentNode = dom.childNodes[i];

          // Ignore comment
          if (currentNode.nodeName === '#comment') {
            continue;
          }

          if (currentNode.nodeName === '#text') {
            currentNode.textContent = currentNode.textContent.replace(/{{(.*?)}}/g, function() {
              try {
                return getExpressionValue(scope, arguments[1]);
              } catch (e) {
                console.warn(e);
                return '';
              }
            })
            continue;
          }

          // Parse Children flag
          var parseChildren = true;

          // Execute directives
          for (var j = 0; j < directives.length; j++) {

            var currentDirective = directives[j].name;
            var expression = currentNode.getAttribute(currentDirective);

            // Get current expression
            if (expression !== null) {
              parseChildren = parseChildren && directives[j].parseChildren === false ? false : true;
              directives[j].handler(currentNode, expression, scope);
            }
          }

          // Element has children. And parseChildren is true (default is true)
          if (currentNode.childNodes && currentNode.childNodes.length > 0 && parseChildren && currentNode._remove !== true) {
            parseDom(currentNode, scope);
          } else {
            parseDomAttribute(currentNode, scope);
          }
        }

        removeTaggedChildren(dom);
        parseDomAttribute(dom, scope);

        return dom;
      } catch (e) {
        console.error(e)
      }
    }


    // Directives: repeat
    directives.push({
      name: 'repeat',
      parseChildren: false,
      handler: function(dom, expression, scope) {
        try {

          // Get parentNode, return if parent is null
          var parent = dom.parentNode;
          if (!parent) return;

          // Remove current template node.
          dom._remove = true;

          // transform expression into object
          var expression = expression.split(' in ');
          expression = {
            itemName: expression[0].trim(),
            items: getExpressionValue(scope, expression[1].trim())
          }

          // repeat
          var count = 0;
          for (var index in expression.items) {

            // Clone template node
            var cloneNode = dom.cloneNode(true);
            cloneNode.removeAttribute('repeat');

            // Set new scope
            scope[expression.itemName] = expression.items[index];
            scope.index = count; // for older version
            scope._index = count;
            count++;
            scope._key = index;

            // Append new parsed dom
            parent.appendChild(parseDom(cloneNode, scope))
          }

          delete scope.index;
          delete scope._index;
          delete scope._key;
          delete scope[expression.itemName];

        } catch (e) {
          console.warn('repeat ERROR:' + e);
          console.warn(dom);
        }

      }
    })

    // Directives: if
    directives.push({
      name: 'if',
      handler: function(dom, expression, scope) {
        var value = null;

        try {
          value = getExpressionValue(scope, expression);
        } catch (e) {
          console.warn('if ERROR:' + e + ' on dom:');
          console.warn(dom);
        }

        if (value) {
          dom.removeAttribute('if');
          dom._if = true;
          dom._ifarr = [true];
          return true;
        }
        dom._remove = true;
        dom._if = false;
        dom._ifarr = [false];
        return false;
      }
    })

    // Directives: elseif
    directives.push({
      name: 'elseif',
      handler: function(dom, expression, scope) {
        var value = null;
        var prev = dom.previousElementSibling;

        // if prev._ifarr has true, just return with false
        if (prev && prev._ifarr) {
          for (var i = 0; i < prev._ifarr.length; i++) {
            if (prev._ifarr[i]) {
              dom._remove = true;
              dom._if = false;
              dom._ifarr = prev._ifarr;
              dom._ifarr.push(false);
              return;
            }
          }
        }

        try {
          value = getExpressionValue(scope, expression);
        } catch (e) {
          console.warn('elseif ERROR:' + e + ' on dom:');
          console.warn(dom)
        }

        if (value) {
          dom.removeAttribute('elseif');
          prev && prev._ifarr && (dom._ifarr = prev._ifarr) && dom._ifarr.push(true) ;
          dom._if = true;
          return true;
        }
        dom._remove = true;
        dom._if = false;
        prev && prev._ifarr && (dom._ifarr = prev._ifarr) && dom._ifarr.push(false);
        return false;
      }
    });

    // Directives: else
    directives.push({
      name: 'else',
      handler: function(dom, expression, scope) {
        var prev = dom.previousElementSibling;
        if (prev && prev._ifarr) {
          for (var i = 0; i < prev._ifarr.length; i++) {
            if (prev._ifarr[i]) {
              dom._remove = true;
              dom._if = false;
              dom._ifarr = prev._ifarr;
              dom._ifarr.push(false);
              return;
            }
          }
        }

        dom._if = true;
        prev && prev._ifarr && (dom._ifarr = prev._ifarr) && dom._ifarr.push(true);
        dom.removeAttribute('else')
        return true;
      }
    });

  })();
</script>
