<!-- https://github.com/Polymer/TemplateBinding -->
<!-- https://github.com/Polymer/TemplateBinding/blob/master/src/TemplateBinding.js -->
<style>
  template-mini:unresolved {
    display: none;
  }
</style>
<script>
  (function(){
    var proto = Object.create(HTMLElement.prototype)
      , directive = [];

    // Modal
    proto.modal = '';

    // Directives: repeat
    directive.push({
      name: 'z-repeat',
      parseChildren: false,
      handler: function(dom, expression, scope) {
        try {
          var parent = dom.parentNode;
          dom.remove();

          // expression
          var expression = expression.split(' in ');
          expression = {
            itemName: expression[0].trim(),
            itemsName: 'scope.' + expression[1].trim()
          }
          expression.items = eval(expression.itemsName);

          // The copy value.
          var copyScope = function(index) {
            this[expression.itemName] = expression.items[index];
            this.index = index;
          }
          copyScope.prototype = scope;

          // repeat
          for (var index in expression.items) {
            var copyDom = dom.cloneNode(true);
            copyDom.removeAttribute('z-repeat');

            parent.appendChild(parseDom(copyDom, new copyScope(index)))
          }

        } catch (e) {
          console.warn('z-repeat ERROR:' + e)
        }

      }
    })

    // Directives: if
    directive.push({
      name: 'z-if',
      handler: function(dom, expression, scope) {
        var value = null;

        try {
          var f = new Function('with(this) { return ' + expression + '}');
          value = f.call(scope);
        } catch (e) {
          console.warn('z-if ERROR:' + e + ' on dom:');
          console.warn(dom)
        }

        if (value) {
          dom.removeAttribute('z-if');
          return true;
        }
        dom.remove();
        return false;
      }
    })

    // Directives: elseif
    directive.push({
      name: 'z-elseif',
      handler: function(dom, expression, scope) {
        var value = null;

        try {
          var f = new Function('with(this) { return ' + expression + '}');
          value = f.call(scope);

        } catch (e) {
          console.warn('z-elseif ERROR:' + e + ' on dom:');
          console.warn(dom)
        }

        if (value) {
          dom.removeAttribute('z-elseif');
          return true;
        }
        dom.remove();
        return false;
      }
    });

    // Directives: else
    directive.push({
      name: 'z-else',
      handler: function(dom, expression, scope) {
        dom.removeAttribute('z-else')
        return true;
      }
    });


    /**
     * Parse dom
     *  dom: the dom you want to parse
     *  scope: the data that will be used if some value shold be parsed
     **/
    var parseDom = function(dom, scope) {

      // Any `if` `elseif` directive return true, set this value to true.
      var isLastIfDirectiveEqualTrue = false;
      var isIfDirective = false
        , isElseDirective = false;

      for (var i = 0; i < dom.children.length; ) {
        var currentElement = dom.children[i];

        // Parse Children flag
        var parseChildren = true;
        var isIfDirective = false
          , isElseDirective = false
          , elementRemoved = false;

        // Execute directive
        for (var j = 0; j < directive.length; j++) {

          var currentDirective = directive[j].name;
          var expression = currentElement.getAttribute(currentDirective);

          // Get current expression
          if (expression !== null) {

            if (currentDirective === 'z-if') {
              isIfDirective = true;
              isLastIfDirectiveEqualTrue = false;
            } else if (currentDirective === 'z-elseif' || currentDirective === 'z-else') {
              isElseDirective = true;
            } else {
              isLastIfDirectiveEqualTrue = false;
            }

            // Any `if' `elseif` return true, remove current dom.
            if (isLastIfDirectiveEqualTrue && isElseDirective ) {
              currentElement.remove();
              elementRemoved = true;

            } else {

              parseChildren = directive[j].parseChildren === false ? false : true;

              var returnValue = directive[j].handler(currentElement, expression, scope);
              if ((isIfDirective || isElseDirective) && returnValue) {
                isLastIfDirectiveEqualTrue = returnValue;
              }
              elementRemoved = currentElement.parentNode === null ? true : false;
            }

            break;
          }
        }

        // Element has children. And parse children is true
        if (currentElement.children && currentElement.children.length > 0 && parseChildren) {
          parseDom(currentElement, scope);
        }

        if (!elementRemoved) {
          i++;
        }
      }

      dom.innerHTML = dom.innerHTML.replace(/{{(\S*?)}}/g, function() {
        try {
          var name = 'scope_' + Date.now();
          window[name] = scope;
          // var value = eval("'use strict'; (function() {with(scope) { return " + arguments[1] + "}})() ");
          var value = eval('(function(scope) {with(scope) { return ' + arguments[1] + '}})(window["' + name + '"])');
          setTimeout(function(){
            delete window[name];
          }, 100)
          return value;
        } catch (e) {
          return '';
        }
      })

      return dom;
    }

    /*
     * Save innerHTML to _innerHTML
     */
    proto.createdCallback  = function() {
      this._innerHTML = this.innerHTML;
      this.style.display = 'none';
      try {
        if (this.dataset.modal) {
          this.setModal(JSON.parse(this.dataset.modal))
        }
      } catch (e) {
        console.warn(this)
        console.warn('Abolve element has invalid modal')
      }
    }

    proto.attachedCallback = function() {

    }

    /**
     * Set modal and apply it to dom.
     **/
    proto.setModal = function(d) {
      this.modal = d;
      this.style.display  = 'none';
      this.innerHTML = this._innerHTML;
      parseDom(this, this.modal);
      this.style.display = '';
      this.dispatchEvent(new Event('template-mini-updated', {bubbles: true}));
    }

    document.registerElement('template-mini', {
      prototype: proto
    });
  })();
</script>
