<html>
<head>
  <meta charset="utf-8">
  <title>Mocha Tests</title>
  <script src='../../lib/webcomponentsjs-0.7.23/webcomponents.js'></script>
  <link href="https://cdn.rawgit.com/mochajs/mocha/2.2.5/mocha.css" rel="stylesheet" />
  <link rel="import" href="template-mini.html">
  <style>
    body template-mini {
      display: none !important;
    }
  </style>
</head>
<body>
  <div id="mocha"></div>

  <!-- <script src="https://cdn.rawgit.com/jquery/jquery/2.1.4/dist/jquery.min.js"></script>
  <script src="https://cdn.rawgit.com/Automattic/expect.js/0.3.1/index.js"></script>
  <script src="https://cdn.rawgit.com/mochajs/mocha/2.2.5/mocha.js"></script> -->
  <script src="../../lib/test/jquery.min.js"></script>
  <script src="../../lib/test/index.js"></script>
  <script src="../../lib/test/mocha.js"></script>

  <div id='repeat'>
    <template-mini class='simple'>
      <ul><li repeat='item in items'>{{item}}</li></ul>
    </template-mini>
    <template-mini class='index'>
      <ul><li repeat='item in items'>{{index}}</li></ul>
    </template-mini>
    <template-mini class='object'>
      <ul><li repeat='item in items'>{{item.name}}</li></ul>
    </template-mini>
    <template-mini class='object2'>
      <ul><li repeat='item in items'>{{name0}}<span>{{item.name1}}<span>{{item.name2.name3}}</span></span></li></ul>
    </template-mini>
    <template-mini class='repeat-array-with-index'>
      <ul><li repeat='item, myindex in items'>{{myindex}}:{{item}}</li></ul>
    </template-mini>
    <template-mini class='repeat-object-with-key'>
      <ul><li repeat='item, key in items'>{{key}}:{{item}}</li></ul>
    </template-mini>
    <template-mini class='repeat-object-with-key-and-index'>
      <ul><li repeat='item, key, index in items'>{{key}}:{{item}}:{{index}}</li></ul>
    </template-mini>
  </div>

  <div id="if">
    <template-mini class='if'>
      <span if='show'>show</span>
    </template-mini>
    <template-mini class='if-deep'>
      <span if='show.arr[1].isTrue'>show</span>
    </template-mini>

    <template-mini class='if-expression1'>
      <span if='true'>true</span>
      <span else>false</span>
    </template-mini>
    <template-mini class='if-expression2'>
      <span if='"a" !== "a"'>true</span>
      <span else>false</span>
    </template-mini>


    <template-mini class='else'>
      <span if='show'>show is true</span>
      <span else>show is false</span>
    </template-mini>

    <template-mini class='elseif'>
      <span if='name === "a"'>name is a</span>
      <span elseif='name === "b"'>name is b</span>
      <span else>name is else</span>
    </template-mini>

    <template-mini class='if-else-if'>
      <span if='show'>show</span>
      <span else>!show</span>
      <span if='name'>{{name}}</span>
      <span else>name is null</span>
    </template-mini>
  </div>

  <div id="others">
    <template-mini class='nested-template-mini'>
      <p>hello {{name}}</p>
      <template-mini>
        <p>hello {{name}}</p>
      </template-mini>
    </template-mini>
  </div>

  <script>mocha.setup('bdd')</script>
  <script>
    var describe = window.describe
      , it = window.it
      , expect = window.expect;

    var render = function(selector, modal) {
      var dom = document.querySelector(selector);
      dom.render(modal);
      return dom.innerHTML.trim().replace(/\s{2,}/g, ' ');
    }
  </script>
  <script>
    describe('repeat', function () {
      describe('Simple Array', function () {
        it("{items: ['a', 'b', 'c']}", function () {

          expect(render('#repeat template-mini.simple', {items: ['a', 'b', 'c']}))
            .to.eql('<ul><li>a</li><li>b</li><li>c</li></ul>')
        });
      });
      describe('index', function () {
        it("index should be start with 0", function () {

          expect(render('#repeat template-mini.index', {items: ['a', 'b', 'c']}))
            .to.eql('<ul><li>0</li><li>1</li><li>2</li></ul>')
        });
      });
      describe('Object Array', function () {
        it("Simple Object Array.", function () {

          expect(render('#repeat template-mini.object', {items: [{name: 'a'}, {name: 'b'}, {name: 'c'}]}))
            .to.eql('<ul><li>a</li><li>b</li><li>c</li></ul>')
        });
        it("Object Array(Deep set)", function () {
          expect(render('#repeat template-mini.object2', {name0: 'name00', items: [{name1: 'a', name2: {name3: 'aa'}}, {name1: 'b', name2: {name3: 'bb'}}, {name1: 'c', name2: {name3: 'cc'}}]}))
            .to.eql('<ul><li>name00<span>a<span>aa</span></span></li><li>name00<span>b<span>bb</span></span></li><li>name00<span>c<span>cc</span></span></li></ul>')
        });
      });

      describe('array-with-index', function () {
        it("item, index in items", function () {
          expect(render('#repeat template-mini.repeat-array-with-index', {items: ['a', 'b', 'c']}))
            .to.eql('<ul><li>0:a</li><li>1:b</li><li>2:c</li></ul>')
        });
      });

      describe('object-with-key or index', function () {
        it("item, key in items", function () {
          expect(render('#repeat template-mini.repeat-object-with-key', {items: {'a': 'a-value', 'b': 'b-value', 'c': 'c-value'}}))
            .to.eql('<ul><li>a:a-value</li><li>b:b-value</li><li>c:c-value</li></ul>')
        });
        it("item, key, index in items", function () {
          expect(render('#repeat template-mini.repeat-object-with-key-and-index', {items: {'a': 'a-value', 'b': 'b-value', 'c': 'c-value'}}))
            .to.eql('<ul><li>a:a-value:0</li><li>b:b-value:1</li><li>c:c-value:2</li></ul>')
        });
      });
    });

  </script>
  <script>

    describe('if', function() {

      describe("if", function() {
        it('Simple if', function() {
          expect(render('#if .if', {show: true}))
            .to.eql('<span>show</span>')

          expect(render('#if .if', {show: false}))
            .to.eql('')

          expect(render('#if .if', {}))
            .to.eql('')

        })

        it('deep-if', function() {

          expect(render('#if .if-deep', {show: {arr: [{}, {isTrue: true}]}}))
            .to.eql('<span>show</span>')

          expect(render('#if .if-deep', {show: {arr: [{}, {isTrue: false}]}}))
            .to.eql('')

          expect(render('#if .if-deep', {}))
            .to.eql('')
        })

        it('if-expression', function() {

          expect(render('#if .if-expression1', {}))
            .to.eql('<span>true</span>')

          expect(render('#if .if-expression2', {}))
            .to.eql('<span>false</span>')
        })
      })

      describe('else', function() {
        it('Simple else', function() {
          expect(render('#if .else', {show: true}))
            .to.eql('<span>show is true</span>')

          expect(render('#if .else', {show: false}))
            .to.eql('<span>show is false</span>')
        })
      })

      describe('elseif', function() {
        it('different name', function() {
          expect(render('#if .elseif', {name: 'a'}))
            .to.eql('<span>name is a</span>')

          expect(render('#if .elseif', {name: 'b'}))
            .to.eql('<span>name is b</span>')

          expect(render('#if .elseif', {name: 'c'}))
            .to.eql('<span>name is else</span>')
        })
        it('if-else-if', function() {

          expect(render('#if .if-else-if', {show: true}))
            .to.eql('<span>show</span> <span>name is null</span>')

          expect(render('#if .if-else-if', {show: false}))
            .to.eql('<span>!show</span> <span>name is null</span>')

          expect(render('#if .if-else-if', {show: true, name: 'a'}))
            .to.eql('<span>show</span> <span>a</span>')

          expect(render('#if .if-else-if', {show: false, name: 'a'}))
            .to.eql('<span>!show</span> <span>a</span>')

        })

      })
    })
  </script>
  <script>
    describe('others', function () {
      it('nested tempalte-mini', function () {
        expect(render('#others .nested-template-mini', {name: 'a'}))
          .to.eql('<p>hello a</p> <template-mini class="hide" resolved=""> <p>hello {{name}}</p> </template-mini>');
      })
    })
  </script>
  <script>
    // mocha.checkLeaks();
    // mocha.globals(['jQuery']);

    document.addEventListener('WebComponentsReady', function() {
      mocha.run();
    });
  </script>
</body>
</html>
